

<div class="card">
 
  <div class="card-body">
   <%= form_with(model: recipe) do |form| %>

  <% if recipe.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
  
        <ul>
          <% recipe.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
    <%= form.label :title, style: "font-weight: bold"  %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <br/>

  <div>
  <%= form.label "Recipe Photo" %>
  <%= form.file_field :avatar %>
  </div>
  
  <br/>

  <div class="form-group">
    <%= form.label :category, style: "font-weight: bold" %>
    <%= form.select :category, options_for_select(['Dessert', 'Appetizer', 'Soup', 'Side', 'Beverage', 'Dinner', 'Lunch', 'Breakfast', 'Snack', 'N/A']), { include_blank: true }, class: "form-control" %>
  </div>

  <br/>

  <div class="form-group">
    <%= form.label :ingredients, style: "font-weight: bold" %>
    <%= form.text_area :ingredients, class: "form-control" %>
  </div>

  <br/>

  <div class="form-group">
    <%= form.label :steps, style: "font-weight: bold" %>
    <%= form.text_area :steps, class: "form-control" %>
  </div>
  <br/>
  <div>
    <%= form.submit class: "btn btn-secondary" %>
  </div>

<% end %>

  </div>
</div>