<h1>Recipes</h1>
<p style="color: green"><%= notice %></p>

<% @recipes.each do |recipe| %>
<%=recipe.user_id%>
<%=recipe.title%>
<%=recipe.category%>
<%=recipe.ingredients%>
<%=recipe.steps%>
<%= link_to 'Edit', edit_recipe_path(recipe) %>
<% end %> 


<br/>
<%= form_tag destroy_user_session_path, method: :delete do %>
  <%= submit_tag "Sign out", class: "btn btn-secondary" %>
<% end %>
