<h1>My Recipes:</h1>


 <div class="card">
 <% @recipes.each do |recipe| %>
  <div class="card-header">
   <h3> <%=recipe.title%> </h3>
  </div>
  <div class="card-body">
  <p>
  <%= image_tag url_for(recipe.avatar), width: 200, height: 200 if recipe.avatar.attached? %>
  </p>
    <p class="card-text"> 
     <strong>Category: </strong>
        <%=recipe.category%>
    </p>
     <p class="card-text"> 
     <strong>Ingredients: </strong>
        <%=recipe.ingredients%>
    </p>
    <p class="card-text"> 
    <strong>Steps: </strong>
    <%=recipe.steps%>
    </p>
    <br/>
    <%= link_to 'Edit', edit_recipe_path(recipe), class: "btn btn-secondary" %>
    <%= link_to 'View this recipe', recipe_path(recipe), class: "btn btn-secondary" %>
  </div>
  <br/>
<% end %>

</div>

