<!DOCTYPE html>
<html>
  <head>
    <title>NomNomDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <nav class="navbar navbar-custom sticky-top">
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-bs-toggle="dropdown" > 
     Recipes
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/recipes"> 
          Recipe List 
        </a>
        <a class="dropdown-item" href="/recipes/new"> 
          New Recipe 
        </a>
      </div>
      </div>
  </nav>

     <p class="notice"><%= flash.notice %></p>
       <p class="alert"><%= flash.alert %></p>
    <%= yield %>
  </body>
</html>
