<!DOCTYPE html>
<html>
  <head>
    <title>NomNomDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="banner-background p-5 text-center">
  <h1>NomNomDiary</h1>
  <p>What are we making today?</p> 
  </div>
   <nav class="navbar navbar-custom sticky-top">
   <div class="btn-group">
    <button class="btn-home" > 
    <a class="nav-item"  href="/home/index">
     <%= icon('fa', 'home')%> 
     </a>
      </button>
    </div>

    <div class="btn-group">
      <button class="btn dropdown-toggle" data-bs-toggle="dropdown" > 
     Recipes
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/recipes"> 
          Recipe List 
        </a>
        <a class="dropdown-item" href="/recipes/new"> 
          New Recipe 
        </a>
      </div>
    
      <button class="btn dropdown-toggle" data-bs-toggle="dropdown" > 
     <%= icon('fa-solid', 'user')%>
      </button>
      <div class="dropdown-menu">
      <a class="dropdown-item"  href="/users/sign_in" >
          Log in
        </a>
        <a class="dropdown-item" href="/users/edit"> 
          Edit User
        </a>
        <%= form_tag destroy_user_session_path, method: :delete do %>
         <%= submit_tag "Sign out", class: "btn-out" %>
        <% end %>
      </div>
  </nav>
<br/>
     <p class="notice"><%= flash.notice %></p>
       <p class="alert"><%= flash.alert %></p>
    <%= yield %>
  </body>
</html>
